Repository Phala-Network/apps, pull requests merged in 2022-05, with the labels that each got.

#141 feat(app): add dwellir node
  apps/app/src/config/networkNode.ts
Labels: 🚀 phala app

#143 doc: add README for each app
  README.md
  apps/app/README.md
  apps/subbridge/README.md
  apps/subbridge/components/GlobalStyles.tsx
Labels: documentation

#146 fix(subbridge): pha assetId from khala
  apps/subbridge/lib/transferFromKhala.ts
Labels: bug, 🌁 subbridge

#148 feat(subbridge): add migration alert
  .vscode/settings.json
  apps/subbridge/components/MigrationAlert.tsx
  apps/subbridge/pages/index.tsx
  apps/subbridge/store/common.ts
  packages/app-mining/src/components/WorkerTableV2/index.tsx
  packages/utils/src/isSSR.ts
Labels: enhancement, 🌁 subbridge

#151 chore(mining): remove end-game page
  apps/app/src/components/BaseLayout.tsx
  apps/app/src/pages/end-game.ts
  packages/app-mining/src/index.ts
  packages/app-mining/src/pages/EndGame.tsx
  packages/app-mining/src/pages/MiningV2.tsx
Labels: 🚀 phala app

#150 feat: some feature
  packages/app-mining/src/components/ClaimAll.tsx
  packages/app-mining/src/components/CreatePoolButton.tsx
  packages/app-mining/src/components/Owner.tsx
  packages/app-mining/src/components/StakePoolModal/AddWorkerModalBody.tsx
  packages/app-mining/src/components/StakePoolModal/ClaimModalBody.tsx
  packages/app-mining/src/components/StakePoolModal/DelegateModalBody.tsx
  packages/app-mining/src/components/StakePoolModal/ReclaimAllModalBody.tsx
  packages/app-mining/src/components/StakePoolModal/SetCapModalBody.tsx
  packages/app-mining/src/components/StakePoolModal/SetCommissionModalBody.tsx
  packages/app-mining/src/components/StakePoolModal/WithdrawModalBody.tsx
  packages/app-mining/src/components/StakePoolTableV2/index.tsx
  packages/app-mining/src/components/StakePoolTableV2/tooltipContent.tsx
  packages/app-mining/src/components/WorkerTableV2/ChangeStakeModalBody.tsx
  packages/app-mining/src/components/WorkerTableV2/ReclaimModalBody.tsx
  packages/app-mining/src/components/WorkerTableV2/RemoveModalBody.tsx
  packages/app-mining/src/components/WorkerTableV2/StartModalBody.tsx
  packages/app-mining/src/components/WorkerTableV2/StopModalBody.tsx
  packages/app-mining/src/components/WorkerTableV2/index.tsx
  packages/app-mining/src/pages/DelegateV2.tsx
  packages/app-mining/src/pages/MiningV2.tsx
  packages/app-mining/src/pages/MyDelegateV2.tsx
  packages/app-mining/src/pages/StakePool.tsx
Labels: enhancement, 🚀 phala app

#155 feat(app): worker table in stake pool page
  apps/app/src/components/Assets/AccountBanner/AccountInfo.tsx
  packages/app-mining/src/components/StakePool/SettingButton.tsx
  packages/app-mining/src/components/StakePool/StakeInfo.tsx
  packages/app-mining/src/components/WorkerTableV2/index.tsx
  packages/app-mining/src/pages/MiningV2.tsx
  packages/app-mining/src/pages/StakePool.tsx
  packages/react-components/src/Copy/Copy.tsx
  packages/react-components/src/Copy/index.ts
  packages/react-components/src/Copy/styledComponets.ts
  packages/react-components/src/Textarea/Textarea.tsx
  packages/react-components/src/Textarea/index.ts
  packages/react-components/src/Textarea/styledComponents.ts
  packages/react-components/src/WhiteCard/WhiteCard.tsx
  packages/react-components/src/WhiteCard/index.ts
  packages/react-components/src/index.ts
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useClipboard.ts
Labels: enhancement, 🚀 phala app

#157 chore(app): rollback claim all
  packages/app-mining/src/components/ClaimAll.tsx
  packages/app-mining/src/components/StakePoolModal/ClaimModalBody.tsx
Labels: 🚀 phala app

#158 feat(mining): add commission change warning
  .prettierignore
  apps/app/src/components/Navbar/Links.tsx
  packages/app-mining/src/components/ClaimAll.tsx
  packages/app-mining/src/components/StakePoolTableV2/index.tsx
  packages/app-mining/src/components/StakePoolTableV2/tooltipContent.tsx
  packages/app-mining/src/components/StatusBarV2/UpdateInfo.tsx
  packages/app-mining/src/components/WorkerTableV2/index.tsx
  packages/app-mining/src/hooks/graphql.ts
Labels: enhancement, 🚀 phala app

#161 feat(subbridge): add moonriver and MOVR
  .vscode/settings.json
  apps/app/package.json
  apps/subbridge/assets/evm_chains_data.json
  apps/subbridge/assets/moonriver_chain_icon.png
  apps/subbridge/assets/moonriver_xtokens_abi.json
  apps/subbridge/assets/movr_asset_icon.png
  apps/subbridge/assets/pha_ethereum_asset_abi.json
  apps/subbridge/assets/pha_ethereum_bridge_abi.json
  apps/subbridge/components/BridgeBody/Action/EvmAction.tsx
  apps/subbridge/components/BridgeBody/AmountInput.tsx
  apps/subbridge/components/BridgeBody/AssetSelect.tsx
  apps/subbridge/components/BridgeBody/DestinationAccountInput.tsx
  apps/subbridge/components/BridgeBody/Extra.tsx
  apps/subbridge/components/BridgeBody/index.tsx
  apps/subbridge/components/BridgeConfirmationDialog.tsx
  apps/subbridge/config/asset.ts
  apps/subbridge/config/bridge.ts
  apps/subbridge/config/chain.ts
  apps/subbridge/hooks/useBalance.ts
  apps/subbridge/hooks/useEstimatedGasFee.ts
  apps/subbridge/hooks/useEthersContract.ts
  apps/subbridge/hooks/useSwitchNetwork.ts
  apps/subbridge/hooks/useTransfer.ts
  apps/subbridge/hooks/useValidation.ts
  apps/subbridge/lib/ethersFetcher.ts
  apps/subbridge/lib/polkadotFetcher.ts
  apps/subbridge/lib/transferFromKhala.ts
  apps/subbridge/lib/transferFromMoonriver.ts
  apps/subbridge/package.json
  apps/subbridge/store/bridge.ts
  cspell.json
  packages/app-mining/package.json
  packages/react-components/package.json
  packages/store/package.json
  yarn.lock
Labels: enhancement, 🌁 subbridge

#164 fix(subbridge): show alert when from app only
  .eslintrc
  apps/app/src/components/Navbar/Links.tsx
  apps/subbridge/components/MigrationAlert.tsx
  packages/app-mining/src/components/MyDelegateNotification.tsx
  packages/app-mining/src/components/Owner.tsx
  packages/app-mining/src/components/StakePoolTableV2/tooltipContent.tsx
  packages/app-mining/src/pages/StakePool.tsx
Labels: 🌁 subbridge

#163 feat(subbridge): add more chains and assets
  .eslintrc
  apps/subbridge/assets/bifrost_chain_icon.png
  apps/subbridge/assets/bnc_asset_icon.png
  apps/subbridge/assets/chainbridge_abi.json
  apps/subbridge/assets/evm_chains_data.json
  apps/subbridge/assets/kar_asset_icon.png
  apps/subbridge/assets/karura_chain_icon.jpg
  apps/subbridge/assets/karura_chain_icon.png
  apps/subbridge/assets/pha_ethereum_asset_abi.json
  apps/subbridge/assets/token_standard_abi.json
  apps/subbridge/assets/zlk_asset_icon.png
  apps/subbridge/components/BridgeBody/Action/EvmAction.tsx
  apps/subbridge/components/BridgeBody/AssetSelect.tsx
  apps/subbridge/components/BridgeBody/Extra.tsx
  apps/subbridge/components/BridgeBody/index.tsx
  apps/subbridge/components/Layout.tsx
  apps/subbridge/components/TopBar/Account/EvmAccount.tsx
  apps/subbridge/config/asset.ts
  apps/subbridge/config/bridge.ts
  apps/subbridge/config/chain.ts
  apps/subbridge/hooks/useBalance.ts
  apps/subbridge/hooks/useEstimatedGasFee.ts
  apps/subbridge/hooks/useEthereumProviderInitialization.ts
  apps/subbridge/hooks/useEthersContract.ts
  apps/subbridge/hooks/useEthersProvider.ts
  apps/subbridge/hooks/useTransfer.ts
  apps/subbridge/hooks/useValidation.ts
  apps/subbridge/lib/createEthereumToKhalaData.ts
  apps/subbridge/lib/ethersFetcher.ts
  apps/subbridge/lib/polkadotFetcher.ts
  apps/subbridge/lib/transferByChainBridge.ts
  apps/subbridge/lib/transferByEvmXTokens.ts
  apps/subbridge/lib/transferByKhalaXTransfer.ts
  apps/subbridge/lib/transferByPolkadotXTokens.ts
  apps/subbridge/lib/transferFromEthereum.ts
  apps/subbridge/lib/transferFromKarura.ts
  apps/subbridge/store/bridge.ts
  apps/subbridge/store/ethers.ts
  cspell.json
Labels: enhancement, 🌁 subbridge

#166 feat(app): add mining link in mobile menu
  apps/app/package.json
  apps/app/src/components/BottomBar/CheckMore.tsx
  apps/subbridge/package.json
  package.json
  packages/app-mining/package.json
  packages/app-mining/src/components/ClaimAll.tsx
  packages/app-mining/src/components/Pagination.tsx
  packages/app-mining/src/components/StatusBarV2/UpdateInfo.tsx
  packages/app-mining/src/components/StatusBarV2/index.tsx
  packages/app-mining/src/pages/DelegateV2.tsx
  packages/app-mining/src/pages/MiningV2.tsx
  packages/app-mining/src/pages/MyDelegateV2.tsx
  packages/react-components/package.json
  packages/react-hooks/package.json
  packages/react-libs/package.json
  packages/utils/package.json
  yarn.lock
Labels: enhancement, 🚀 phala app

#168 feat(subbridge): branding and more links
  apps/subbridge/assets/background_waves.svg
  apps/subbridge/assets/phala_brand_logo.svg
  apps/subbridge/assets/subbridge_logo_icon.svg
  apps/subbridge/assets/subbridge_logo_text.svg
  apps/subbridge/components/Footer.tsx
  apps/subbridge/components/GlobalStyles.tsx
  apps/subbridge/components/GtagScript.tsx
  apps/subbridge/components/TopBar/MoreButton.tsx
  apps/subbridge/components/TopBar/SubbridgeLogo.tsx
  apps/subbridge/next.config.js
  apps/subbridge/pages/_app.tsx
  apps/subbridge/pages/index.tsx
  apps/subbridge/store/common.ts
Labels: enhancement, 🌁 subbridge

#169 feat(app): add verified filter in stake pool list
  packages/app-mining/src/components/StakePoolTableV2/index.tsx
Labels: enhancement, 🚀 phala app
